<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <div class="left-side">

    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      @if(intervals) {
        <b># of intervals: {{intervals.length}}</b>
      }
        @for(interval of intervals; track interval.id) {
          <div [class.intervalContainer]="true">
          <div>{{interval.id}}</div>
          <div>{{interval.intervalName}}</div>
          <div>{{interval.abbrv}}</div>
          <div>{{interval.recordType}}</div>
          <div>{{interval.color}}</div>
          <div>{{interval.bAge}}</div>
          <div>{{interval.tAge}}</div>
          </div>
        }
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--<router-outlet />-->
